{% extends "base.html" %}
{% load static %}

{% block extra_title %} About Us {% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid products-container">
        <div class="col-12 about-image"></div>
        <div class="col-10 offset-1 text-center">
            <h1 class="home-logo-font mt-2">
                EVERWEAR. 
            </h1>
            <h4 class="home-logo-font mt-1">
                ALL. THINGS. EQUAL.
            </h4>
            <p>Welcome to EverWear. At EverWear we believe, live and work by our motto that all things are created equal. This means we prioritise respect, diversity and inclusion in our workplace
               and our customer base. It is also reflected in the core of how we make our clothes sourcing our materials from fairtrade organic suppliers to ensure minimal impact on the earth's
               resources and fair treatment and pay for our supply chain. Our clothes are also made to last to further minimise waste and depletion of natural resources in the production of clothing. 
               We make our clothes with a conscience but we do not compromise style in getting there. Thank you for being a part of the EverWear journey. 
            </p>
            <br>    
            <p>Founded in Ireland in 2023, EverWear aims to change how we think of style, clothing and it's interaction with the planet. We aim to make clothes you love, will last a lifetime but
               will not cost the earth. We take great care in sourcing our fabrics from suppliers who act responsibly and put sustainability at the heart of everything we do. At EverWear we believe
               ALL things are equal. Full stop. 
            </p>
        </div>
    </div>
{% endblock %}