{% extends "base.html" %}
{% load static %}

{% block extra_title %} Homepage {% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid products-container">
        <div class="col-12 home-image"></div>
        <div class="col-10 offset-1 text-center">
            <h1 class="home-logo-font mt-2">
                EVERWEAR. 
            </h1>
            <h4 class="home-logo-font mt-1">
                ALL. THINGS. EQUAL.
            </h4>
            <p>Welcome to EverWear. At EverWear we believe, live and work by our motto that all things are created equal. This means we prioritise respect, diversity and inclusion in our workplace
               and our customer base. It is also reflected in the core of how we make our clothes sourcing our materials from fairtrade organic suppliers to ensure minimal impact on the earth's
               resources and fair treatment and pay for our supply chain. Our clothes are also made to last to further minimise waste and depletion of natural resources in the production of clothing. 
               We make our clothes with a conscience but we do not compromise style in getting there. Thank you for being a part of the EverWear journey. 
            </p>
        </div>
    </div>
    <div class="container-fluid"> 
        <div class="row">
            <div class="col-12 text-center mt-4">
                <h2 class="logo-font mx-auto my-auto">Our Current Range</h2>
                <br>
                {% for c in current_categories %}
                    <a class="text-decoration-none" href="{% url 'products' %}?category={{ c.name }}">
                        <span class="p-2 mt-2 badge badge-white text-everwear-grey rounded-1 border border-dark">{{ c.friendly_name }}</span>
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="container col-11 offset-.5">
                <div class="row mt-1 mb-2">
                    {% for category in categories %}
                        <div class="col-sm-6 col-md-6 col-lg-5 col-xl-4">
                            <div class="card border-0 rounded-1 category-cards">
                                {% if category.image %}
                                <a href="{% url 'products' %}?category={{ category.name }}">
                                    <img class="card-img-top" src="{{ category.image.url }}" alt="{{ category.name }}">
                                </a>
                                {% else %}
                                <a href="{% url 'products' %}?category={{ category.name }}">
                                    <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ category.name }}">
                                </a>
                                {% endif %}
                                <div class="card-body pb-0 text-center">
                                    <h4 class="mb-2"><strong>{{ category.friendly_name }}</strong></h4>
                                </div>
                            </div>
                        </div>
                        {% if forloop.counter|divisibleby:1 %}
                            <div class="col-12 d-sm-none mb-5">
                            </div>
                        {% endif %}                        
                        {% if forloop.counter|divisibleby:2 %}
                            <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                            </div>
                        {% endif %}
                        {% if forloop.counter|divisibleby:3 %}
                            <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                            </div>
                        {% endif %}
                        <!-- {% if forloop.counter|divisibleby:4 %}
                            <div class="col-12 d-none d-xl-block mb-5">
                            </div>
                        {% endif %} -->
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    <div class="btt-button shadow-sm">
        <a class="btt-link d-flex h-100">
            <i class="fas fa-chevron-up text-everwear-grey mx-auto my-auto"></i>
        </a>	
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
{% endblock %}
