{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container h-100"> 
        <div class="row h-100">
            <div class="col-12 my-auto text-center">
                <h1 class="display-1 landing-logo-font">
                    EVERWEAR. 
                </h1>
                <h3 class="'display-4 landing-logo-font">
                    ALL. THINGS. EQUAL.
                </h3>
                <div class="my-5">
                    <h4>
                        <a href="" class="shop-button btn btn-lg rounded-1 text-uppercase py-3">Shop</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}