{% extends "landing.html" %}
{% load static %}

{% block extra_title %} Welcome {% endblock %}

{% block content %}
    <div id="intro" class="container-fluid"> 
        <div class="row">
            <div class="container-fluid my-auto text-center">
                <div class="col-12">
                    <img class="symbol" src="/media/white_symbol.png" alt="EverWear symbol">
                </div>
                <h1 class="display-1 landing-logo-font">
                    EVERWEAR. 
                </h1>
                <h3 class="'display-4 landing-logo-font">
                    ALL. THINGS. EQUAL.
                </h3>
                <div class="my-5">
                    <a href="{% url 'home' %}" class="shop-button btn btn-lg rounded-1 text-uppercase py-3">Shop</a>                
                </div>
            </div>
        </div>
    </div>
{% endblock %}