@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800&display=swap');

html {
    height: 100%;
}

body {
    background: url('/media/hero_image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: #555;
    font-family: 'Monserrat', sans-serif;
    font-weight: 400;
}

#base_body {
    height: calc(100vh - 400px);
    color: #555;
    font-family: 'Monserrat', sans-serif;
    font-weight: 400;
}

.logo-font {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
}

.landing-logo-font{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: white;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.shop-button {
    background: white;
    color: #575756;
    min-width: 180px;
}

.btn-everwear-grey {
    background: #575756;
    color: white;
}

.shop-button:hover,
.shop-button:active,
.shop-button:focus,
.btn-everwear-grey:hover,
.btn-everwear-grey:active,
.btn-everwear-grey:focus, 
.category-badge:hover, /* Check during testing */
.category-badge:active,
.category-badge:focus {
    background: #white;
    color: #575756;
    /* border: 1px solid #575756;  */
}

.text-everwear-grey {
    color: #575756 !important;
}

.border-evewear-grey {
    border: 1px solid #575756 !important;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: whitesmoke;
    z-index: -1;
}

.btt-button {
    height: 50px;
    width: 50px;
    position: fixed;
    bottom: 10px;
    right: 10px;
}

.btt-link {
    cursor: pointer;
}

/* -------------------------------- Media Queries */

/* Larger container on x-large screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}