{% extends "base.html" %}
{% load static %}

{% block extra_title %} Error {% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid products-container">
        <div class="col-12 about-image"></div>
        <div class="col-10 offset-1 text-center">
            <h1 class="home-logo-font mt-2">
                EVERWEAR. 
            </h1>
            <h4 class="home-logo-font mt-1">
                PAGE NOT FOUND (404)         
            </h4>
            <p>Sorry but the page you were looking for doesn't exist. You may have mistyped the address or the page may have moved.</p>
            <br>    
            <p>Click <a href="{% url 'home' %}" aria-label="returns you back to the home page"><strong>here</strong></a> to head back to the homepage</p>
        </div>
    </div>
{% endblock %}