{% extends "base.html" %}
{% load static %}

{% block extra_title %}- Manage Store {% endblock %}


{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h2 class="logo-font mb-4">Product Management</h2>
                <p class="text-muted">Select your action</p>
            </div>
        </div>
        <div class="row">
            <a class="btn btn-everwear-grey rounded-1 m-2" href="{% url 'add_category' %}">Add Category</a>
        </div>
        <div class="row">
            <a class="btn btn-everwear-grey rounded-1 m-2" href="{% url 'add_product' %}">Add Product</a>
        </div>
        <div class="row">
            <a class="btn btn-everwear-grey rounded-1 m-2" href="{% url 'add_variation' %}">Add Product Variant</a>         
        </div>
    </div>
{% endblock %}